div#loading_div{
    display:block;

    /*set the div in the center of the screen*/
    position:fixed;
    top:50%;
    left:48%;
    width:48px;
    height: 48px;
    background:  url(loadinfo.gif) no-repeat;
    display: none;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* OPACITY */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}


.navbar-default{
    background-color: #337ab7 !important;
}

.navbar-default .navbar-brand {
    color: #fff !important;
}

body{
    background: url(./bg5.jpg);
}