<!--{% if name %}-->
<!--<h1>Hello {{ name }}!</h1>-->
<!--{% else %}-->
<!--<h1>Hello World!</h1>-->
<!--{% endif %}-->

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

<script type=text/javascript src="{{
  url_for('static', filename='index.js') }}"></script>





<p><input type=text size=5 name=a> +
    <input type=text size=5 name=b> =
    <span id=result>?</span>

<p><a href=# id=calculate>calculate server side</a>